Step3/state-machine-sample2.json
{
  "Comment": "A description of my state machine",
  "StartAt": "Parallel",
  "States": {
    "Parallel": {
      "Type": "Parallel",
      "Branches": [
        {
          "StartAt": "GetInfo-Test123",
          "States": {
            "GetInfo-Test123": {
              "Type": "Task",
              "Resource": "arn:aws:states:::dynamodb:getItem",
              "Parameters": {
                "TableName": "rds-batch",
                "Key": {
                  "JobName": {
                    "S": "Test123"
                  }
                }
              },
              "Next": "RunBatch-Test123"
            },
            "RunBatch-Test123": {
              "Type": "Task",
              "Resource": "arn:aws:states:::batch:submitJob.sync",
              "Parameters": {
                "ContainerOverrides": {
                  "Environment": [
                    {
                      "Name": "BATCH_FILE_S3_URL",
                      "Value.$": "$.Item.ScriptLocation.S"
                    }
                  ]
                },
                "JobName.$": "$.Item.JobName.S",
                "JobDefinition.$": "$.Item.JobDefinition.S",
                "JobQueue.$": "$.Item.JobQueue.S"
              },
              "End": true
            }
          }
        },
        {
          "StartAt": "Wait",
          "States": {
            "Wait": {
              "Type": "Wait",
              "Seconds": 30,
              "Next": "GetInfo-Test124"
            },
            "GetInfo-Test124": {
              "Type": "Task",
              "Resource": "arn:aws:states:::dynamodb:getItem",
              "Parameters": {
                "TableName": "rds-batch",
                "Key": {
                  "JobName": {
                    "S": "Test124"
                  }
                }
              },
              "Next": "RunBatch-Test124"
            },
            "RunBatch-Test124": {
              "Type": "Task",
              "Resource": "arn:aws:states:::batch:submitJob.sync",
              "Parameters": {
                "ContainerOverrides": {
                  "Environment": [
                    {
                      "Name": "BATCH_FILE_S3_URL",
                      "Value.$": "$.Item.ScriptLocation.S"
                    }
                  ]
                },
                "JobName.$": "$.Item.JobName.S",
                "JobDefinition.$": "$.Item.JobDefinition.S",
                "JobQueue.$": "$.Item.JobQueue.S"
              },
              "End": true
            }
          }
        }
      ],
      "Next": "GetInfo-Test125",
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "Comment": "AllError",
          "Next": "SNS Publish"
        }
      ]
    },
    "GetInfo-Test125": {
      "Type": "Task",
      "Resource": "arn:aws:states:::dynamodb:getItem",
      "Parameters": {
        "TableName": "rds-batch",
        "Key": {
          "JobName": {
            "S": "Test125"
          }
        }
      },
      "Next": "RunBatch-Test125"
    },
    "SNS Publish": {
      "Type": "Task",
      "Resource": "arn:aws:states:::sns:publish",
      "Parameters": {
        "Message.$": "$",
        "TopicArn": "arn:aws:sns:us-east-1:567133706458:SNSNotify"
      },
      "End": true
    },
    "RunBatch-Test125": {
      "Type": "Task",
      "Resource": "arn:aws:states:::batch:submitJob.sync",
      "Parameters": {
        "ContainerOverrides": {
          "Environment": [
            {
              "Name": "BATCH_FILE_S3_URL",
              "Value.$": "$.Item.ScriptLocation.S"
            }
          ]
        },
        "JobName.$": "$.Item.JobName.S",
        "JobDefinition.$": "$.Item.JobDefinition.S",
        "JobQueue.$": "$.Item.JobQueue.S"
      },
      "End": true,
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "Comment": "AllError",
          "Next": "SNS Publish"
        }
      ]
    }
  }
}